@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://db.onlinewebfonts.com/c/e24480ba2887b3ba47888906d089962d?family=Ilisarniq+Regular);

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(228, 228, 231);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

body {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h1,
h2,
h3 {
    color: #fff;
}

.bg-clip-text {
    font-size: 48px;
    background-image: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #69c2a6, #6dca92, #a7d129, #f2d829, #f2b22e, #d17c2e, #d13b2e, #db2c27, #e76f51, #c5a0a2, #70a0af, #3c8dbc, #34495e, #2ecc71);
    background-size: 500% 100%;
    /* Adjusted background size for more colors */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientAnimation 15s linear infinite;
}

.gradient-border {
    --borderWidth: 3px;
    background: #000;
    background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #69c2a6, #6dca92, #a7d129, #f2d829, #f2b22e, #d17c2e, #d13b2e, #db2c27, #e76f51, #c5a0a2, #70a0af, #3c8dbc, #34495e, #2ecc71);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 10s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}